* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin:0px;
    background-image: url("/user_mgmt/assets/images/bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* Column container */
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

